.container {
  background-color: white;
}

.content {
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 80px 0;
  width: 550px;
  box-sizing: border-box;
}

.heading {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.subHeading {
  font-size: 1.5rem;
  font-weight: 400;
}

.icon {
  position: absolute;
  right: 1rem;
  top: -0.75rem;
}

.description {
  font-size: 1rem;
  color: #384252;
  margin-bottom: 1.5rem;
}

.purpose {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.purposeText {
  font-size: 1rem;
  font-weight: 400;
}

.boldText {
  font-size: 1.375rem;
  font-weight: 700;
}

.highlightText {
  font-size: 1.375rem;
  font-weight: 700;
  color: #ff8095;
}

.blackText {
  color: #000;
}

.footerText {
  font-size: 1rem;
  color: #384252;
  margin-bottom: 1.5rem;
}

.image {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
  .content {
    width: 360px;
    overflow: hidden;
    padding: 24px;
  }

  .heading {
    justify-content: flex-start;
  }

  .description,
  .purpose,
  .footerText {
    text-align: left;
  }
}

@media (max-width: 350px) {
  .content {
    width: 340px;
  }
}
